<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Pokemon List</title>
</head>
<body>
  <h1>My Pokemon List</h1>
  <ul>
    <% myPokemonList.forEach(pokemon => { %>
      <li><%= pokemon.nickname %></li> <!-- Menampilkan nickname -->
    <% }); %>
  </ul>
</body>
</html>
